###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=bcc124c7f9833cf26ab3892da321ea86
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
###< doctrine/doctrine-bundle ###

TMDB_API_KEY=YOUR_KEY_HERE

#TMDB_API_V4_TOKEN=YOUR_TOKEN_HERE
#TMDB_INIT_LIST=YOUR_ID_LIST_HERE
