###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/.idea
/.vscode/

## to keep notfound.jpg
!/public/img/posters/
/public/img/posters/*

!/public/img/posters/thumbs
/public/img/posters/thumbs/*

!/public/img/posters/thumbs/notfound.jpg
!/public/img/posters/notfound.jpg
## to keep notfound.jpg

