{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}

<div class="text-center">
    <h1>Page not found</h1>

    <p>
        Go back to <a href="{{ path('index') }}">home</a>.
    </p>
</div>

{% endblock %}